@model Domain.Models.Things.PublicIlluminationController

@{
    ViewBag.Title = "Delete Public Illumination Controller";
}

<h2>Delete Public Illumination Controller</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Public Illumination Controller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Model.Latitude.ToString("0.000000")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Model.Longitude.ToString("0.000000")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
