@model IEnumerable<Domain.Models.Things.PublicIlluminationController>

@{
    ViewBag.Title = "Public Illumination Controller";
}

@section scripts
{
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        var map;
        function loadMapScenario() {
            map = new Microsoft.Maps.Map(document.getElementById('mapViewer'), {
                credentials: 'AhTFkkLNWCZeF1-u8TmOVGfumUUQZx6fvbEydcnpeOl2z6HkE09oXUayXjV6yW4V',
                center: new Microsoft.Maps.Location(-29.691037,-53.835232),
                zoom: 13
            });
            Microsoft.Maps.Events.addHandler(map, 'click', function (e) {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height:140,
                    modal: true,
                    buttons: {
                        "Create new": function() {
                            var point = new Microsoft.Maps.Point(e.getX(), e.getY());
                            var loc = e.target.tryPixelToLocation(point);
                            var location = new Microsoft.Maps.Location(loc.latitude, loc.longitude);
                            var PublicIlluminationController =
                            {
                                "Latitude": location.latitude,
                                "Longitude": location.longitude,
                                "IsOn": true
                            };
                            $.ajax({
                                url: '/Thing/CreatePublicIlluminationController/',
                                data: JSON.stringify(PublicIlluminationController),
                                type: 'POST',
                                contentType: 'application/json; charset=utf-8'
                            });
                            window.location.href = "@Url.Action("Index")";
                            $(this).dialog( "close" );
                        },
                        Cancel: function() {
                            $(this).dialog( "close" );
                        }
                    }
                });
            });
            @foreach (var location in Model)
            {
                <text>
                var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(@location.Latitude, @location.Longitude), { icon: @{ if (location.IsOn) { <text>'/Content/Images/light.png'</text> } else { <text>'/Content/Images/light-off.png'</text> } } });
                map.entities.push(pushpin);
                Microsoft.Maps.Events.addHandler(pushpin, 'click', function () {
                    window.location.href = "@Url.Action("DetailsPublicIlluminationController", new { Id = location.Id })";
                });
                </text>
            }
        }
    </script>
    <script src="http://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario" async defer></script>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<div style="display: none;" id="dialog-confirm" title="Create new Public Illumination Controller?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure?</p>
</div>

<h2>Public Illumination Controller</h2>

<p>
    @Html.ActionLink("Create New", "CreatePublicIlluminationController")
</p>

<div id='mapViewer' style='width: 100%; height: 300px;'></div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Latitude.ToString("0.000000")
        </td>
        <td>
            @item.Longitude.ToString("0.000000")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPublicIlluminationController", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsPublicIlluminationController", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeletePublicIlluminationController", new { id=item.Id })
        </td>
    </tr>
}

</table>
